<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NotesCatcher - Home</title>
    <link rel="stylesheet" th:href="@{/css/Home.css}">
</head>
<body>
<div class="container">
    <h1 class="heading">NotesCatcher</h1>
    <div class="login-form">
        <h2>Sign in</h2>

        <div th:if="${param.error}" style="color: #ff6b6b; font-size: 0.9rem; margin-bottom: 10px;" >
            Invalid username and password.</div>
        <div th:if="${param.logout}" style="color: #ff6b6b; font-size: 0.9rem; margin-bottom: 10px;">
            You have been logged out.</div>

        <form th:action="@{/Login}" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <div class="register-link">
                <a th:href="@{/Register}">Don't have an account? Register</a>
            </div>
        </form>
    </div>
</div>
</body>